 # Import Data from Dataset

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/selva86/datasets/master/Ionosphere.csv"
df = pd.read_csv(url)
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V26,V27,V28,V29,V30,V31,V32,V33,V34,Class
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1

# Classify independent variables and dependent variable

In [6]:
x = df.drop(["Class"],axis=1)
y = df["Class"]
print(x) #independent variables
print(y) #dependent variable

     V1  V2       V3       V4       V5       V6       V7       V8       V9  \
0     1   0  0.99539 -0.05889  0.85243  0.02306  0.83398 -0.37708  1.00000
1     1   0  1.00000 -0.18829  0.93035 -0.36156 -0.10868 -0.93597  1.00000
2     1   0  1.00000 -0.03365  1.00000  0.00485  1.00000 -0.12062  0.88965
3     1   0  1.00000 -0.45161  1.00000  1.00000  0.71216 -1.00000  0.00000
4     1   0  1.00000 -0.02401  0.94140  0.06531  0.92106 -0.23255  0.77152
..   ..  ..      ...      ...      ...      ...      ...      ...      ...
346   1   0  0.83508  0.08298  0.73739 -0.14706  0.84349 -0.05567  0.90441
347   1   0  0.95113  0.00419  0.95183 -0.02723  0.93438 -0.01920  0.94590
348   1   0  0.94701 -0.00034  0.93207 -0.03227  0.95177 -0.03431  0.95584
349   1   0  0.90608 -0.01657  0.98122 -0.01989  0.95691 -0.03646  0.85746
350   1   0  0.84710  0.13533  0.73638 -0.06151  0.87873  0.08260  0.88928

         V10  ...      V25      V26      V27      V28      V29      V30  \
0    0.03760  ...  0.56811 -0.51171  0.41078 -0.46168  0.21266 -0.34090
1   -0.04549  ... -0.20332 -0.26569 -0.20468 -0.18401 -0.19040 -0.11593
2    0.01198  ...  0.57528 -0.40220  0.58984 -0.22145  0.43100 -0.17365
3    0.00000  ...  1.00000  0.90695  0.51613  1.00000  1.00000 -0.20099
4   -0.16399  ...  0.03286 -0.65158  0.13290 -0.53206  0.02431 -0.62197
..       ...  ...      ...      ...      ...      ...      ...      ...
346 -0.04622  ...  0.95378 -0.04202  0.83479  0.00123  1.00000  0.12815
347  0.01606  ...  0.94520  0.01361  0.93522  0.04925  0.93159  0.08168
348  0.02446  ...  0.93988  0.03193  0.92489  0.02542  0.92120  0.02242
349  0.00110  ...  0.91050 -0.02099  0.89147 -0.07760  0.82983 -0.17238
350 -0.09139  ...  0.86467 -0.15114  0.81147 -0.04822  0.78207 -0.00703

         V31      V32      V33      V34
0    0.42267 -0.54487  0.18641 -0.45300
1   -0.16626 -0.06288 -0.13738 -0.02447
2    0.60436 -0.24180  0.56045 -0.38238
3    0.25682  1.00000 -0.32382  1.00000
4   -0.05707 -0.59573 -0.04608 -0.65697
..       ...      ...      ...      ...
346  0.86660 -0.10714  0.90546 -0.04307
347  0.94066 -0.00035  0.91483  0.04712
348  0.92459  0.00442  0.92697 -0.00577
349  0.96022 -0.03757  0.87403 -0.16243
350  0.75747 -0.06678  0.85764 -0.06151

[351 rows x 34 columns]
0      1
1      0
2      1
3      0
4      1
      ..
346    1
347    1
348    1
349    1
350    1
Name: Class, Length: 351, dtype: int64

# Split data into training sets and test sets

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .3) # 0.3 is the test_size data probability

ModuleNotFoundError: No module named 'sklearn'